@import 'tailwindcss';
@import "flowbite/src/themes/default.css";
@source "../../node_modules/flowbite";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "daisyui" {
    themes: none
}

@plugin "flowbite/plugin";


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #0118D8;
    --color-secondary: #1B56FD;
    --color-terciary: #E9DFC3;
    --color-quaternary: #FFF8F8;
}


@tailwind utilities;



.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

details > summary {
    list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
    display: none;
}

input[name="mark"]:checked.mask-star-2 {
    background-color: #facc15 !important; /* Tailwind yellow-400 or yellow-500 */
}

